@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	background-color: #22254b;
}

header {
	background-color: #373b69;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.search {
	padding: 0.5rem;
	border-radius: 50px;
	background-color: transparent;
	border: 2px solid #22254b;
	font-family: inherit;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	color: #eee;
}

.search::placeholder {
	color: #7378c5;
}

.search:focus {
	background-color: #22254b;
	outline: none;
}

.movie {
	background-color: #373b69;
	border-radius: 3px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	width: 300px;
	color: white;
	cursor: pointer;
	margin: 1rem;
	overflow: hidden;
	position: relative;
}

.movie img {
	width: 100%;
	display: block;
	transition: all 0.4s;
}

div.movie:hover img {
	transform: scale(1.02);
}

.movie-info {
	display: flex;
	justify-content: space-between;
	color: #eee;
	padding: 0.5rem 1rem 1rem;
	letter-spacing: 0.5px;
	align-items: center;
}

.movie-info h3 {
	margin: 0;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.movie-info h3:hover {
	white-space: normal;
	overflow: visible;
	text-overflow: inherit;
}

.movie-info span {
	background-color: #22254b;
	padding: 0.25rem 0.5rem;
	border-radius: 3px;
	font-weight: bold;
}

.movie-info span.green {
	color: rgb(39, 189, 39);
}
.movie-info span.orange {
	color: orange;
}
.movie-info span.red {
	color: rgb(151, 3, 3);
}

main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.overview {
	position: absolute;
	/* top: 0; */
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	color: #555;
	padding: 2rem;
	transform: translateY(100%);
	transition: transform 0.5s;
	max-height: 100%;
	overflow: auto;
}

.movie:hover .overview {
	transform: translateY(0);
}
